<h2>mat-select</h2>
<div class="select-container">
  <mat-form-field appearance="fill">
    <mat-icon matSuffix>{{arrowState}}</mat-icon>
    <mat-select [formControl]="selectDropdown">
      <mat-select-trigger>
       {{selectDropdown.value}}
      </mat-select-trigger>
      <mat-option *ngFor="let item of itemList" [value]="item.name">

        <ng-container *ngIf="isSelected(item.name); else notSelected">
          <mat-icon>done</mat-icon>
          {{item.name}}
        </ng-container>

        <ng-template #notSelected >
          {{item.name}}
        </ng-template>


      </mat-option>
      <div class="select-methods-container">
        <hr>
        <h1>Some Method</h1>
        <p (click)="showAlert()">Method</p>
      </div>
    </mat-select>
  </mat-form-field>
</div>
